$nav-mobile: linear-gradient(45deg, rgb(7, 39, 13), rgb(0, 3, 0));
$main-color: rgb(214, 141, 4);
$white: #ffffff;
$dark-main: rgb(175, 116, 7);
$shadow-img: linear-gradient(45deg, rgba(17, 17, 17, 0.75), rgba(0, 0, 0, 0.75));
$section-color: #ebeaea;
